@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: url('./assets/bg.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Chokokutai', cursive;
}

body > div {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-width: 320px;
	min-height: 100vh;
	backdrop-filter: blur(3px);
}

/*
Palette
orange: #ea550d
yellow: #f5a300
brown: #4d330a
*/
